/* .home{
    border: 1px solid red;
    
} */

.nav{
    /* border: 1px solid red; */
    padding: .3rem;
    box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
}

.movieform{
    /* border: 1px solid red; */
    margin-top: 2%;

}


.movieform img {
    width: 40%; 
    height: auto; 
    display: block; 
    margin: 0 auto; 
    max-width: 100%; 
}


.form {
    max-width: 400px;
    margin: 0 auto;
    margin-top: 8rem;
    height: 35rem;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #f5f5f5;
    /* border: 1px solid red; */
  }
  
  .form label {
    display: block;
    margin-bottom: 10px;
  }
  
  .form input[type="text"],
  .form input[type="number"] {
    width: 100%;
    padding: 8px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 4px;
  }
  
  .form button {
    background-color: #3498db;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  .form button:hover {
    background-color: #2980b9;
  }



  /* responsive css style  */
@media (max-width: 1080px) {
    .nav{
        /* border: 1px solid red; */
        padding: .3rem;
        box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
    }
    
    .movieform{
        /* border: 1px solid red; */
        margin-top: 2%;
       
    
    }
    
    
    .form {
        max-width: 400px;
        margin: 0 auto;
        margin-top: 8rem;
        height: 35rem;
        padding: 20px;
        border: 1px solid #ccc;
        border-radius: 5px;
        background-color: #f5f5f5;
        /* border: 1px solid red; */
      }

   
  }
  
  /* responsive css style  */
  @media (max-width: 998px) {
    .nav{
        /* border: 1px solid red; */
        padding: .3rem;
        box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
    }
    
    .movieform{
        /* border: 1px solid red; */
        margin-top: 2%;
       
    
    }
    
    
    .form {
        max-width: 400px;
        margin: 0 auto;
        margin-top: 8rem;
        height: 35rem;
        padding: 20px;
        border: 1px solid #ccc;
        border-radius: 5px;
        background-color: #f5f5f5;
        /* border: 1px solid red; */
      }
    
 
    
  }
  
  @media (max-width: 798px) {

    .nav{
        /* border: 1px solid red; */
        padding: .3rem;
        box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
    }
    
    .movieform{
        /* border: 1px solid red; */
        margin-top: 2%;
       
    
    }
    
    
    .form {
        max-width: 400px;
        margin: 0 auto;
        margin-top: 8rem;
        height: 35rem;
        padding: 20px;
        border: 1px solid #ccc;
        border-radius: 5px;
        background-color: #f5f5f5;
        /* border: 1px solid red; */
      }
   
  
    
  }
  
  @media (max-width: 520px) {

    .nav{
        /* border: 1px solid red; */
        padding: .3rem;
        box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
    }
    
    .movieform{
        /* border: 1px solid red; */
        margin-top: 2%;
       
    
    }
    
    
    .form {
        max-width: 400px;
        margin: 0 auto;
        margin-top: 8rem;
        height: 35rem;
        padding: 20px;
        border: 1px solid #ccc;
        border-radius: 5px;
        background-color: #f5f5f5;
        /* border: 1px solid red; */
      }
         
   
  }
  